.navbar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--app-color-offWhite);
  padding-left: 1rem;
  padding-right: 1rem;
  /* box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo h2 {
  color: var(--app-color-primary);
  font-family: var(--app-font-medium);
  font-weight: var(--app-font-regular-weight);
  margin: 0;
  font-size: 16px;
}

.navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
  /* Ensure links are centered vertically */
  margin: 0;
  padding: 0;
}

.navbar-links a:hover {
  font-family: var(--app-font-semiBold);
  font-weight: var(--app-font-semiBold-weight);
  color: var(--app-color-primary);
}
.navbar-links a.active {
  font-family: var(--app-font-semiBold);
  font-weight: var(--app-font-semiBold-weight);
  color: var(--app-color-primary);
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: end;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: var(--app-color-greyShade);
  text-decoration: none;
  font-family: var(--app-font-regular);
  font-weight: var(--app-font-regular-weight);
  font-size: 14px;
}


.bar {
  height: 3px;
  width: 18px;
  background-color: var(--app-color-primary);
  margin: 1px 0;
  transition: 0.4s;
}

@media (max-width: 850px) {
  .navbar-links {
    display: none; /* Hidden by default */
    background-color: var(--app-color-offWhite);
    width: 100%;
    top: 100%;
    right: 0;
    position: absolute;
    overflow: hidden;
    max-height: 0; /* Initial height for animation */
    /* transition: max-height 0.5s ease-out; */
    margin-left: 100px;
  }

  /* .navbar .navbar-links .active{
    display: flex;

  } */

  .navbar {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--app-color-offWhite);
    padding-left: 1rem;
    padding-right: 1rem;
    /* box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); */
  }
  .navbarOpened{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    background-color: var(--app-color-offWhite);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-links.active {

    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 200px; /* Adjust this value based on your content */
    transition: 200px 1.5s ease-in;
  }

  .navbar-links li {
    margin: 1.5rem 0;
  }

  .navbar-toggle {
    display: flex;
    
  }

  .dropdown-menu {
    position: static;
    min-width: 100%;
    box-shadow: none;
  }

  .dropdown:hover .dropdown-menu {
    display: none;
  }
  /* .navbar-links.active {
    right: 0;
  }

  .navbar-links li {
    margin-top: 30px;
  } */

  .navbar-toggle {
    display: flex;
  }

  /* .navbar-links a {
    color: var(--app-color-white);
    text-decoration: none;
    font-family: var(--app-font-medium);
    font-weight: var(--app-font-medium-weight);
  } */
}





.dropdown-content {
  display: block;
  position: absolute;
  top: 64px;
  background-color: var(--app-color-offWhite);
  min-width: 200px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  right: 0;
  margin-right: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-content li {
  margin-right: 0;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown-content li a{
  color: var(--app-color-greyShade);
  font-family: var(--app-font-regular);
  font-weight: var(--app-font-regular-weight);
  text-decoration: none;
  display: block;
  justify-content: flex-start;
  align-self: start;
  margin-left: 15px;
}
/* 
.dropdown-content a {
  color: var(--app-color-greyShade);
  font-family: var(--app-font-regular);
  font-weight: var(--app-font-regular-weight);
  text-decoration: none;
  display: block;
  justify-content: flex-start;
} */
/* .dropdown-content {
  display: block;
}


.img {
  display: inline-block;
} */

/* .dropdown-content .ul .li a:hover {
  color: var(--app-color-greyShade);
  font-family: var(--app-font-regular);
  font-weight: var(--app-font-regular-weight);
}  */


/* .dropdown-content a {
  color: var(--app-color-primary);
  font-family: var(--app-font-medium);
  font-weight: var(--app-font-medium-weight);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--app-color-white);
  font-family: var(--app-font-medium);
  font-weight: var(--app-font-medium-weight);
} */

