@font-face {
    font-family: BoldFont;
    font-weight: 700;
    src: url('../assets/fonts/SFProText-Bold.ttf')
  }

  @font-face {
    font-family: SemiBold;
    font-weight: 500;
    src: url('../assets/fonts/SFProText-SemiBold.ttf')
  }

  @font-face {
    font-family: MediumBold;
    font-weight: 400;
    src: url('../assets/fonts/SFProText-Medium.ttf')
  }

  @font-face {
    font-family: Regularfont;
    font-weight: 300;
    src: url('../assets/fonts/SFProText-Regular.ttf')
  }
