@font-face {
  font-family: "NotoBold";
  font-weight: 700;
  src: url("../assets/fonts/NotoBold.ttf");
}

@font-face {
  font-family: "NotoSemiBold";
  font-weight: 500;
  src: url("../assets/fonts/NotoSemiBold.ttf");
}

@font-face {
  font-family: "NotoMedium";
  font-weight: 400;
  src: url("../assets/fonts/NotoMedium.ttf");
}

@font-face {
  font-family: "NotoRegular";
  font-weight: 300;
  src: url("../assets/fonts/NotoRegular.ttf");
}

@font-face {
  font-family: "SevBold";
  font-weight: 700;
  src: url("../assets/fonts/SevBold.ttf");
}

@font-face {
  font-family: "SevSemiBold";
  font-weight: 500;
  src: url("../assets/fonts/SevSemiBold.ttf");
}

@font-face {
  font-family: "SevMedium";
  font-weight: 400;
  src: url("../assets/fonts/SevMedium.ttf");
}

@font-face {
  font-family: "SevReg";
  font-weight: 300;
  src: url("../assets/fonts/SevReg.ttf");
}



@font-face {
  font-family: "PopBold";
  font-weight: 300;
  src: url("../assets/fonts/PoppinsBold.ttf");
}

@font-face {
  font-family: "PopSemiBold";
  font-weight: 300;
  src: url("../assets/fonts/PoppinsSemiBold.ttf");
}

@font-face {
  font-family: "PopMedium";
  font-weight: 300;
  src: url("../assets/fonts/PoppinsMedium.ttf");
}

@font-face {
  font-family: "PopRegular";
  font-weight: 300;
  src: url("../assets/fonts/PoppinsRegular.ttf");
}


body {
  font-family: "NotoBold", "NotoSemiBold", "NotoMedium", "NotoRegular",
    "SevBold", "SevSemiBold", "SevMedium", "SevReg", "PopBold", "PopSemiBold", "PopMedium", "PopRegular"
}
